[submodule ".vim/bundle/vimdoc-ja"]
	path = .vim/bundle/vimdoc-ja
	url = git://github.com/vim-jp/vimdoc-ja.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/buftabs"]
	path = .vim/bundle/buftabs
	url = git://github.com/vim-scripts/buftabs.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer.git
[submodule ".vim/bundle/sudo"]
	path = .vim/bundle/sudo
	url = git://github.com/vim-scripts/sudo.vim.git
[submodule ".vim/bundle/vim-yankring"]
	path = .vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/jslint.vim"]
	path = .vim/bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vim-toggle"]
	path = .vim/bundle/vim-toggle
	url = git://github.com/taku-o/vim-toggle.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = git://github.com/Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/gist-cmd-plugin.vim"]
	path = .vim/bundle/gist-cmd-plugin.vim
	url = git://github.com/roadman/gist-cmd-plugin.vim.git
